spring:
  application:
    name: personal-finance-api
  profiles:
    active: dev
  liquibase:
    change-log: classpath:/db/changelog.yaml
    enabled: true
    drop-first: false
    default-schema: public
    database-change-log-table: databasechangelog
    database-change-log-lock-table: databasechangeloglock
    test-rollback-on-update: false
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/personal_finance
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:PutYourPasswordHere}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.mavb.azure.ai.demos: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
document-intelligence:
  key: ${AZURE_DOCUMENT_INTELLIGENCE_KEY}
  endpoint: ${AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT}
