openapi: 3.0.3
info:
  title: Credit Management API
  description: API REST para la gestión y evaluación de productos crediticios bancarios con capacidades de IA semántica
  version: 1.2.0
  contact:
    name: Equipo de Desarrollo
    email: dev-team@banco.com
servers:
  - url: https://api.banco.com/v1
    description: Servidor de producción
  - url: https://api-dev.banco.com/v1
    description: Servidor de desarrollo

paths:
  /products:
    get:
      operationId: getProducts
      summary: Obtener lista de productos crediticios
      description: Devuelve una lista completa de productos crediticios disponibles con filtros opcionales
      tags:
        - Products
      parameters:
        - name: category
          in: query
          description: Filtrar por categoría de producto
          required: false
          schema:
            type: string
          example: "PRESTAMO_PERSONAL"
        - name: currency
          in: query
          description: Filtrar por moneda
          required: false
          schema:
            type: string
            enum: ["S/", "USD"]
          example: "S/"
        - name: minAmount
          in: query
          description: Monto mínimo requerido
          required: false
          schema:
            type: number
            format: decimal
          example: 10000
        - name: maxAmount
          in: query
          description: Monto máximo requerido
          required: false
          schema:
            type: number
            format: decimal
          example: 100000
        - name: page
          in: query
          description: Número de página (basado en 0)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
        - name: size
          in: query
          description: Tamaño de página
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: sort
          in: query
          description: Campo de ordenación
          required: false
          schema:
            type: string
            default: "name"
          example: "name"
      responses:
        '200':
          description: Lista de productos crediticios obtenida exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        '400':
          description: Parámetros de consulta inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Invalid Query Parameters"
                message: "Los parámetros de búsqueda son inválidos"
                details:
                  - field: "minAmount"
                    message: "El monto mínimo debe ser un número positivo"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      operationId: createProduct
      summary: Crear un nuevo producto crediticio
      description: |
        Crea un nuevo producto crediticio que se sincroniza automáticamente con Azure AI Search 
        para habilitar búsquedas semánticas y recomendaciones inteligentes.
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
            example:
              id: "PRESTAMO-PERSONAL-001"
              name: "Préstamo Personal Elite"
              description: "Préstamo personal diseñado para clientes con alto poder adquisitivo. Ofrece las mejores tasas del mercado y condiciones preferenciales."
              category: "PRESTAMO_PERSONAL"
              subcategory: "ELITE"
              minimumAmount: 5000.00
              maximumAmount: 150000.00
              currency: "S/"
              term: "12 a 60 meses"
              minimumRate: 8.50
              maximumRate: 15.50
              requirements:
                - "Ingresos mínimos S/ 8,000 mensuales"
                - "Antigüedad laboral mínima de 1 año"
                - "Historial crediticio positivo"
              features:
                - "Tasa de interés competitiva"
                - "Sin comisiones por desembolso"
                - "Cuotas fijas durante todo el plazo"
              benefits:
                - "Acceso a seguros preferenciales"
                - "Línea de crédito adicional después de 6 meses"
                - "Asesoría financiera gratuita"
              active: true
      responses:
        '201':
          description: Producto crediticio creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: Datos de creación inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Validation Error"
                message: "Los datos proporcionados no son válidos"
                details:
                  - field: "id"
                    message: "El ID del producto es obligatorio"
                  - field: "minimumAmount"
                    message: "El monto mínimo debe ser mayor a 0"
        '409':
          description: Producto con ID duplicado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Product Already Exists"
                message: "El producto con ID PRESTAMO-PERSONAL-001 ya existe"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products/{productId}:
    get:
      operationId: getProductById
      summary: Obtener detalles de un producto crediticio específico
      description: Devuelve información completa de un producto crediticio por su ID
      tags:
        - Products
      parameters:
        - name: productId
          in: path
          description: ID único del producto crediticio
          required: true
          schema:
            type: string
          example: "CRV-PEN-001"
      responses:
        '200':
          description: Detalles del producto crediticio obtenidos exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              example:
                id: "CRV-PEN-001"
                name: "Crédito Revolvente Empresarial"
                description: "Línea de crédito revolvente para empresas que necesitan capital de trabajo flexible. Permite disposiciones parciales y pagos variables según el flujo de caja de la empresa."
                category: "Crédito Revolvente"
                subcategory: "Crédito Revolvente Capital Trabajo"
                minimumAmount: 20000
                maximumAmount: 300000
                currency: "S/"
                term: "12 meses renovables"
                minimumRate: 9.00
                maximumRate: 14.00
                requirements:
                  - "RUC vigente"
                  - "Estados financieros de los últimos 2 años"
                  - "Flujo de caja mensual"
                  - "Constitución de la empresa"
                  - "Historial crediticio empresarial bueno"
                  - "Ventas anuales mínimas S/ 300,000"
                  - "Garantías líquidas"
                features:
                  - "Disposiciones parciales"
                  - "Pagos flexibles"
                  - "Sin comisión por prepago"
                  - "Renovación automática"
                  - "Banca digital incluida"
                benefits:
                  - "Capital de trabajo inmediato"
                  - "Flexibilidad en el uso de fondos"
                  - "Tasas competitivas"
                  - "Gestión 100% digital"
        '404':
          description: Producto crediticio no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Product Not Found"
                message: "El producto con ID CRV-PEN-001 no existe"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products/evaluate:
    post:
      operationId: evaluateClientEligibility
      summary: Evaluar elegibilidad del cliente para productos crediticios
      description: |
        Evalúa la elegibilidad de un cliente para productos crediticios usando IA semántica.
        Utiliza información del cliente almacenada en base de datos y análisis semántico 
        para proporcionar recomendaciones inteligentes.
      tags:
        - Evaluation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationRequest'
            example:
              identityDocument: "10456789012"
              requestedAmount: 50000
      responses:
        '200':
          description: Evaluación completada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationResponse'
              example:
                clientProfile:
                  identityDocument: "10456789012"
                  creditScore: 750
                  riskLevel: "Bajo"
                  approvedAmount: 45000
                  recommendedTerm: "12 meses"
                  semanticRank: "ORO"
                  semanticConfidence: 0.85
                  semanticDescription: "Cliente con perfil estable y alta capacidad de pago"
                eligibleProducts:
                  - id: "PRESTAMO-PERSONAL-001"
                    name: "Préstamo Personal Elite"
                    approvedAmount: 45000
                    approvedRate: 10.50
                    eligibilityScore: 85
                    recommendation: "Altamente recomendado"
                    conditions:
                      - "Débito automático obligatorio"
                      - "Seguro de desgravamen incluido"
                  - id: "CRV-PEN-001"
                    name: "Crédito Revolvente Empresarial"
                    approvedAmount: 40000
                    approvedRate: 12.00
                    eligibilityScore: 78
                    recommendation: "Recomendado"
                    conditions:
                      - "Garantía líquida del 20%"
                      - "Evaluación crediticia mensual"
                summary:
                  totalEligibleProducts: 2
                  bestOption:
                    productId: "PRESTAMO-PERSONAL-001"
                    reason: "Mejor tasa de interés y mayor flexibilidad con análisis semántico favorable"
                  evaluationDate: "2024-11-08T16:30:00"
        '400':
          description: Datos de evaluación inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Validation Error"
                message: "Los datos proporcionados para la evaluación son inválidos"
                details:
                  - field: "identityDocument"
                    message: "El documento de identidad debe tener entre 8 y 11 caracteres"
                  - field: "requestedAmount"
                    message: "El monto solicitado debe ser mayor a 0"
        '500':
          description: Error interno del servidor durante la evaluación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ranks:
    get:
      operationId: getRanks
      summary: Obtener lista de rangos/clasificaciones
      description: Devuelve una lista completa de rangos de clientes disponibles con filtros opcionales
      tags:
        - Ranks
      parameters:
        - name: name
          in: query
          description: Filtrar por nombre del rango (búsqueda parcial)
          required: false
          schema:
            type: string
          example: "ORO"
        - name: page
          in: query
          description: Número de página (basado en 0)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
        - name: size
          in: query
          description: Tamaño de página
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: sort
          in: query
          description: Campo de ordenación
          required: false
          schema:
            type: string
            default: "name"
          example: "name"
      responses:
        '200':
          description: Lista de rangos obtenida exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankListResponse'
        '400':
          description: Parámetros de consulta inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Invalid Query Parameters"
                message: "Los parámetros de búsqueda son inválidos"
                details:
                  - field: "size"
                    message: "El tamaño de página debe estar entre 1 y 100"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      operationId: createRank
      summary: Crear un nuevo rango/clasificación
      description: |
        Crea un nuevo rango de cliente que se sincroniza automáticamente con Azure AI Search 
        para habilitar búsquedas semánticas y análisis inteligentes de perfil de clientes.
      tags:
        - Ranks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRankRequest'
            example:
              id: "PREMIUM"
              name: "PREMIUM"
              description: "Cliente premium con ingresos excepcionales superiores a S/15,000 mensuales. Alto ejecutivo, empresario exitoso con múltiples fuentes de ingresos. Portfolio diversificado con inversiones sofisticadas y bienes raíces. Acceso a productos exclusivos de banca privada."
              active: true
      responses:
        '201':
          description: Rango creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rank'
        '400':
          description: Datos de creación inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Validation Error"
                message: "Los datos proporcionados no son válidos"
                details:
                  - field: "id"
                    message: "El ID del rango es obligatorio"
                  - field: "name"
                    message: "El nombre no puede estar vacío"
        '409':
          description: Rango con ID o nombre duplicado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Rank Already Exists"
                message: "El rango con ID PREMIUM ya existe"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ranks/batch:
    post:
      operationId: createRanksBatch
      summary: Crear múltiples rangos en lote
      description: |
        Crea múltiples rangos de cliente en una sola operación. Todos los rangos
        se sincronizan automáticamente con Azure AI Search a través del listener
        para habilitar búsquedas semánticas y análisis inteligente.
      tags:
        - Ranks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRanksBatchRequest'
            example:
              ranks:
                - id: "PLATINO"
                  name: "PLATINO"
                  description: "Cliente de alto valor con ingresos superiores a S/12,000 mensuales. Alto ejecutivo, empresario exitoso con múltiples inversiones."
                  active: true
                - id: "DIAMANTE"
                  name: "DIAMANTE"
                  description: "Cliente ultra premium con patrimonio excepcional. Acceso exclusivo a banca privada."
                  active: true
      responses:
        '201':
          description: Rangos creados exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RanksBatchResponse'
        '400':
          description: Datos de lote inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Validation Error"
                message: "Algunos datos del lote no son válidos"
                details:
                  - field: "ranks[0].id"
                    message: "El ID del rango es obligatorio"
                  - field: "ranks[1].name"
                    message: "El nombre no puede estar vacío"
        '409':
          description: Algunos rangos ya existen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Duplicate Ranks"
                message: "Algunos rangos del lote ya existen"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
          description: ID único del producto crediticio
          maxLength: 20
          example: "PRESTAMO-PERSONAL-001"
        name:
          type: string
          description: Nombre comercial del producto
          maxLength: 100
          example: "Préstamo Personal Elite"
        description:
          type: string
          description: Descripción detallada del producto
          maxLength: 1000
          example: "Préstamo personal diseñado para clientes con alto poder adquisitivo. Ofrece las mejores tasas del mercado y condiciones preferenciales."
        category:
          type: string
          description: Categoría principal del producto
          maxLength: 50
          example: "PRESTAMO_PERSONAL"
        subcategory:
          type: string
          description: Subcategoría específica del producto
          maxLength: 100
          example: "ELITE"
        minimumAmount:
          type: number
          format: decimal
          description: Monto mínimo del crédito
          minimum: 0
          multipleOf: 0.01
          example: 5000.00
        maximumAmount:
          type: number
          format: decimal
          description: Monto máximo del crédito
          minimum: 0
          multipleOf: 0.01
          example: 150000.00
        currency:
          type: string
          description: Moneda del crédito
          enum: ["S/", "USD"]
          example: "S/"
        term:
          type: string
          description: Plazo del crédito
          maxLength: 50
          example: "12 a 60 meses"
        minimumRate:
          type: number
          format: decimal
          description: Tasa de interés mínima anual
          minimum: 0
          maximum: 100
          multipleOf: 0.01
          example: 8.50
        maximumRate:
          type: number
          format: decimal
          description: Tasa de interés máxima anual
          minimum: 0
          maximum: 100
          multipleOf: 0.01
          example: 15.50
        requirements:
          type: array
          items:
            type: string
          minItems: 1
          description: Lista de requisitos para acceder al producto
          example:
            - "Ingresos mínimos S/ 8,000 mensuales"
            - "Antigüedad laboral mínima de 1 año"
            - "Historial crediticio positivo"
        features:
          type: array
          items:
            type: string
          minItems: 1
          description: Características principales del producto
          example:
            - "Tasa de interés competitiva"
            - "Sin comisiones por desembolso"
            - "Cuotas fijas durante todo el plazo"
        benefits:
          type: array
          items:
            type: string
          minItems: 1
          description: Beneficios del producto
          example:
            - "Acceso a seguros preferenciales"
            - "Línea de crédito adicional después de 6 meses"
            - "Asesoría financiera gratuita"
      required:
        - id
        - name
        - description
        - category
        - subcategory
        - minimumAmount
        - maximumAmount
        - currency
        - term
        - minimumRate
        - maximumRate
        - requirements
        - features
        - benefits

    CreateProductRequest:
      type: object
      properties:
        id:
          type: string
          description: ID único del producto crediticio
          maxLength: 20
          pattern: '^[A-Za-z0-9_-]+$'
          example: "PRESTAMO-PERSONAL-001"
        name:
          type: string
          description: Nombre comercial del producto
          maxLength: 100
          example: "Préstamo Personal Elite"
        description:
          type: string
          description: Descripción detallada del producto
          maxLength: 1000
          example: "Préstamo personal diseñado para clientes con alto poder adquisitivo."
        category:
          type: string
          description: Categoría principal del producto
          maxLength: 50
          example: "PRESTAMO_PERSONAL"
        subcategory:
          type: string
          description: Subcategoría específica del producto
          maxLength: 100
          example: "ELITE"
        minimumAmount:
          type: number
          format: decimal
          description: Monto mínimo del crédito
          minimum: 0.01
          multipleOf: 0.01
          example: 5000.00
        maximumAmount:
          type: number
          format: decimal
          description: Monto máximo del crédito (debe ser mayor al mínimo)
          minimum: 0.01
          multipleOf: 0.01
          example: 150000.00
        currency:
          type: string
          description: Moneda del crédito
          enum: ["S/", "USD"]
          example: "S/"
        term:
          type: string
          description: Plazo del crédito
          maxLength: 50
          example: "12 a 60 meses"
        minimumRate:
          type: number
          format: decimal
          description: Tasa de interés mínima anual
          minimum: 0
          maximum: 100
          multipleOf: 0.01
          example: 8.50
        maximumRate:
          type: number
          format: decimal
          description: Tasa de interés máxima anual (debe ser mayor o igual al mínimo)
          minimum: 0
          maximum: 100
          multipleOf: 0.01
          example: 15.50
        requirements:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
          description: Lista de requisitos para acceder al producto
          example:
            - "Ingresos mínimos S/ 8,000 mensuales"
            - "Antigüedad laboral mínima de 1 año"
        features:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
          description: Características principales del producto
          example:
            - "Tasa de interés competitiva"
            - "Sin comisiones por desembolso"
        benefits:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
          description: Beneficios del producto
          example:
            - "Acceso a seguros preferenciales"
            - "Línea de crédito adicional"
        active:
          type: boolean
          description: Estado del producto (activo/inactivo)
          default: true
          example: true
      required:
        - id
        - name
        - description
        - category
        - subcategory
        - minimumAmount
        - maximumAmount
        - currency
        - term
        - minimumRate
        - maximumRate
        - requirements
        - features
        - benefits

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        total:
          type: integer
          description: Total de productos disponibles
          example: 25
        totalPages:
          type: integer
          description: Total de páginas
          example: 3
        currentPage:
          type: integer
          description: Página actual
          example: 1
      required:
        - data
        - total

    EvaluationRequest:
      type: object
      description: |
        Solicitud simplificada de evaluación crediticia. 
        Solo requiere identificación del cliente y monto solicitado.
        La información adicional del cliente se obtiene automáticamente de la base de datos.
      properties:
        identityDocument:
          type: string
          description: Documento de identidad del cliente (DNI o RUC)
          minLength: 8
          maxLength: 11
          pattern: '^[0-9]+$'
          example: "10456789012"
        requestedAmount:
          type: number
          format: decimal
          description: Monto solicitado para el crédito
          minimum: 1
          multipleOf: 0.01
          example: 50000.00
      required:
        - identityDocument
        - requestedAmount

    EvaluationResponse:
      type: object
      description: Respuesta de evaluación crediticia con análisis semántico e IA
      properties:
        clientProfile:
          type: object
          description: Perfil del cliente con análisis semántico
          properties:
            identityDocument:
              type: string
              example: "10456789012"
            creditScore:
              type: integer
              description: Score crediticio del cliente
              minimum: 300
              maximum: 850
              example: 750
            riskLevel:
              type: string
              description: Nivel de riesgo evaluado
              enum: ["Bajo", "Medio", "Alto"]
              example: "Bajo"
            approvedAmount:
              type: number
              format: decimal
              description: Monto aprobado basado en capacidad de pago
              example: 45000.00
            recommendedTerm:
              type: string
              description: Plazo recomendado para el crédito
              example: "12 meses"
            semanticRank:
              type: string
              description: Clasificación semántica del cliente usando IA
              enum: ["BRONCE", "PLATA", "ORO", "PLATINO", "PREMIUM"]
              example: "ORO"
            semanticConfidence:
              type: number
              format: decimal
              description: Nivel de confianza del análisis semántico (0.0 - 1.0)
              minimum: 0
              maximum: 1
              example: 0.85
            semanticDescription:
              type: string
              description: Descripción generada por IA del perfil del cliente
              example: "Cliente con perfil estable y alta capacidad de pago"
          required:
            - identityDocument
            - creditScore
            - riskLevel
            - approvedAmount
            - semanticRank
            - semanticConfidence
        eligibleProducts:
          type: array
          description: Productos crediticios elegibles para el cliente
          items:
            type: object
            properties:
              id:
                type: string
                example: "PRESTAMO-PERSONAL-001"
              name:
                type: string
                example: "Préstamo Personal Elite"
              approvedAmount:
                type: number
                format: decimal
                example: 45000.00
              approvedRate:
                type: number
                format: decimal
                description: Tasa de interés aprobada específica para el cliente
                example: 10.50
              eligibilityScore:
                type: integer
                description: Puntuación de elegibilidad (0-100)
                minimum: 0
                maximum: 100
                example: 85
              recommendation:
                type: string
                description: Nivel de recomendación del producto
                enum: ["Altamente recomendado", "Recomendado", "No recomendado"]
                example: "Altamente recomendado"
              conditions:
                type: array
                items:
                  type: string
                description: Condiciones específicas para este cliente
                example:
                  - "Débito automático obligatorio"
                  - "Seguro de desgravamen incluido"
            required:
              - id
              - name
              - approvedAmount
              - approvedRate
              - eligibilityScore
              - recommendation
        summary:
          type: object
          description: Resumen de la evaluación
          properties:
            totalEligibleProducts:
              type: integer
              description: Número total de productos elegibles
              example: 2
            bestOption:
              type: object
              description: Mejor opción recomendada
              properties:
                productId:
                  type: string
                  example: "PRESTAMO-PERSONAL-001"
                reason:
                  type: string
                  description: Razón por la cual es la mejor opción (incluye análisis semántico)
                  example: "Mejor tasa de interés y mayor flexibilidad con análisis semántico favorable"
              required:
                - productId
                - reason
            evaluationDate:
              type: string
              format: date-time
              description: Fecha y hora de la evaluación
              example: "2024-11-08T16:30:00"
          required:
            - totalEligibleProducts
            - evaluationDate
      required:
        - clientProfile
        - eligibleProducts
        - summary

    ErrorResponse:
      type: object
      description: Respuesta estructurada de error con detalles específicos
      properties:
        error:
          type: string
          description: Tipo o categoría del error
          example: "Validation Error"
        message:
          type: string
          description: Mensaje descriptivo del error en español
          example: "Los datos proporcionados no son válidos"
        details:
          type: array
          description: Lista de errores específicos por campo (opcional)
          items:
            type: object
            properties:
              field:
                type: string
                description: Campo que causó el error
                example: "requestedAmount"
              message:
                type: string
                description: Mensaje específico del error en el campo
                example: "El monto solicitado debe ser mayor a 0"
            required:
              - field
              - message
      required:
        - error
        - message

    Rank:
      type: object
      properties:
        id:
          type: string
          description: ID único del rango
          maxLength: 20
          example: "ORO"
        name:
          type: string
          description: Nombre del rango
          maxLength: 100
          example: "ORO"
        description:
          type: string
          description: Descripción detallada del perfil de cliente para este rango
          maxLength: 5000
          example: "Cliente premium con ingresos sólidos entre S/6,000 - S/12,000 mensuales. Profesional universitario, ejecutivo medio, empresario con negocio establecido 3+ años."
      required:
        - id
        - name
        - description

    CreateRankRequest:
      type: object
      properties:
        id:
          type: string
          description: ID único del rango
          maxLength: 20
          pattern: '^[A-Za-z0-9_-]+$'
          example: "PREMIUM"
        name:
          type: string
          description: Nombre del rango
          maxLength: 100
          example: "PREMIUM"
        description:
          type: string
          description: Descripción detallada del perfil de cliente para este rango
          maxLength: 5000
          example: "Cliente premium con características excepcionales y acceso a productos exclusivos de banca privada."
        active:
          type: boolean
          description: Estado del rango (activo/inactivo)
          default: true
          example: true
      required:
        - id
        - name
        - description

    RankListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Rank'
        total:
          type: integer
          description: Total de rangos disponibles
          example: 5
        totalPages:
          type: integer
          description: Total de páginas
          example: 1
        currentPage:
          type: integer
          description: Página actual
          example: 0
      required:
        - data
        - total

    CreateRanksBatchRequest:
      type: object
      properties:
        ranks:
          type: array
          description: Array de rangos a crear
          minItems: 1
          maxItems: 50
          items:
            type: object
            properties:
              id:
                type: string
                description: ID único del rango
                maxLength: 20
                pattern: '^[A-Za-z0-9_-]+$'
                example: "PLATINO"
              name:
                type: string
                description: Nombre del rango
                maxLength: 100
                example: "PLATINO"
              description:
                type: string
                description: Descripción detallada del perfil de cliente para este rango
                maxLength: 5000
                example: "Cliente de alto valor con ingresos superiores a S/12,000 mensuales."
              active:
                type: boolean
                description: Estado del rango (activo/inactivo)
                default: true
                example: true
            required:
              - id
              - name
              - description
      required:
        - ranks

    RanksBatchResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indica si el lote fue procesado exitosamente
          example: true
        message:
          type: string
          description: Mensaje descriptivo del resultado
          example: "Rangos creados exitosamente"
        totalRanks:
          type: integer
          description: Total de rangos en el lote
          minimum: 0
          example: 2
        createdRanks:
          type: integer
          description: Número de rangos creados exitosamente
          minimum: 0
          example: 2
        failedRanks:
          type: integer
          description: Número de rangos que fallaron al crear
          minimum: 0
          example: 0
        createdRankIds:
          type: array
          items:
            type: string
          description: IDs de los rangos creados exitosamente
          example: ["PLATINO", "DIAMANTE"]
      required:
        - success
        - message
        - totalRanks
        - createdRanks
        - failedRanks

tags:
  - name: Products
    description: |
      Operaciones para la gestión completa de productos crediticios.
      Incluye creación, consulta y sincronización automática con Azure AI Search 
      para capacidades de búsqueda semántica.
  - name: Evaluation
    description: |
      Operaciones para la evaluación inteligente de elegibilidad crediticia.
      Utiliza IA semántica y análisis de perfil para proporcionar 
      recomendaciones personalizadas de productos crediticios.
  - name: Ranks
    description: |
      Operaciones para la gestión de rangos de clientes.
      Incluye consulta, creación individual y creación en lote de rangos.
      Los rangos se sincronizan automáticamente con Azure AI Search a través 
      de listeners para habilitar búsquedas semánticas y análisis inteligente.